process.container = 'nextflow/rnaseq-nf'
docker.runOptions = '-u $(id -u):$(id -g)'
manifest.defaultBranch = 'main'

process {
	withName: INDEX {
		cpus = 8
		memory = 32.GB
	}

	withName: QUANTIFICATION {
		cpus = 12
		memory = 64.GB
	}
}

process {
	memory = 32.GB
	cpus = 8
	memory = { task.attempt <= 2 ? 32.GB * task.attempt : 64.GB}
	cpus = { task.attempt <= 2 ? 8 * task.attempt : 16 }
	errorStrategy = {task.attempt <= 2 ? 'retry' : 'ignore'}
	maxRetries = 2
  }
